# Logs
logs
*.log
npm-debug.log*

# Editor
.idea
.vscode

# Dependency directory
node_modules

# Webpack/Babel Build
dist
build
bundle.js

# Testing
.eslintcache
.env
.last-run.json
example.spec.js
index.html
snapshots/**/

# Temporary sync files
figma-changes.json
token-update-manifest.json
pr-result.json

# Mac
.DS_Store
