/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

@import "@enovaui/core-tokens/css/color-primitive.css";

/* ----------------------------------------
Semantic Color Tokens
------------------------------------------- */

:root {

	/* Background */
	--semantic-color-background-main: var(--primitive-color-black);
	--semantic-color-background-sub: var(--primitive-color-black);

	/* Surface */
	--semantic-color-surface-main: var(--primitive-color-mist-gray-30);
	--semantic-color-surface-sub: var(--primitive-color-mist-gray-90);

	/* On Surface */
	--semantic-color-on-surface-tooltip-icon: var(--primitive-color-white);
}
