/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

@import "@enovaui/core-tokens/css/effect-primitive.css";

/* ----------------------------------------
Semantic Effect Tokens
------------------------------------------- */

:root {

	/* Effect */
	--semantic-effect-default-backgroundblur: var(--primitive-effect-40);
	--semantic-effect-default-dropshadow-blur: var(--primitive-effect-40);
	--semantic-effect-default-dropshadow-spread: var(--primitive-effect-0);
	--semantic-effect-default-dropshadow-x: var(--primitive-effect-0);
	--semantic-effect-default-dropshadow-y: var(--primitive-effect-10);
	--semantic-effect-default-innershadow-blur: var(--primitive-effect-8);
	--semantic-effect-default-innershadow-spread: var(--primitive-effect-0);
	--semantic-effect-default-innershadow-x: var(--primitive-effect-0);
	--semantic-effect-default-innershadow-y: var(--primitive-effect-2);
	--semantic-effect-statusbar-backgroundblur: var(--primitive-effect-60);
}
