/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

@import "@enovaui/core-tokens/css/color-primitive.css";

/* ----------------------------------------
Semantic Color Tokens
------------------------------------------- */

:root {

	/* Background */
	--semantic-color-background-main: var(--primitive-color-mist-gray-95);
	--semantic-color-background-sub: var(--primitive-color-white);
	--semantic-color-background-white: var(--primitive-color-white);
	--semantic-color-background-black: var(--primitive-color-black);

	/* On Background */
	--semantic-color-on-background-default: var(--primitive-color-mist-gray-10);

	/* Surface */
	--semantic-color-surface-default-handle: var(--primitive-color-blue-gray-50);
	--semantic-color-surface-default-indicator: var(--primitive-color-navy-40);
	--semantic-color-surface-default-notification: var(--primitive-color-blue-green-40);
	--semantic-color-surface-default-placeholder: var(--primitive-color-mist-gray-80);
	--semantic-color-surface-default-track: var(--primitive-color-blue-gray-80);
	--semantic-color-surface-main: var(--primitive-color-white);
	--semantic-color-surface-main-hover: var(--primitive-color-blue-gray-95);
	--semantic-color-surface-main-pressed: var(--primitive-color-blue-gray-90);
	--semantic-color-surface-sub: var(--primitive-color-blue-gray-85);
	--semantic-color-surface-accent: var(--primitive-color-blue-green-40);
	--semantic-color-surface-badge-dark: var(--primitive-color-blue-gray-10);
	--semantic-color-surface-badge-light: var(--primitive-color-blue-gray-90);
	--semantic-color-surface-button-primary: var(--primitive-color-blue-green-40);
	--semantic-color-surface-button-primary-hover: var(--primitive-color-blue-green-30);
	--semantic-color-surface-button-primary-pressed: var(--primitive-color-blue-green-20);
	--semantic-color-surface-button-secondary: var(--primitive-color-blue-gray-90);
	--semantic-color-surface-button-secondary-hover: var(--primitive-color-blue-gray-80);
	--semantic-color-surface-button-secondary-pressed: var(--primitive-color-blue-gray-70);
	--semantic-color-surface-button-tertiary: var(--primitive-color-white);
	--semantic-color-surface-button-tertiary-hover: var(--primitive-color-white);
	--semantic-color-surface-button-tertiary-pressed: var(--primitive-color-blue-gray-90);
	--semantic-color-surface-button-icon: var(--primitive-color-blue-gray-90);
	--semantic-color-surface-button-icon-pressed: var(--primitive-color-blue-gray-70);
	--semantic-color-surface-chip: var(--primitive-color-white);
	--semantic-color-surface-chip-selected: var(--primitive-color-navy-40);
	--semantic-color-surface-notification-card: var(--primitive-color-cool-gray-25);
	--semantic-color-surface-selection-active: var(--primitive-color-blue-green-50);
	--semantic-color-surface-selection-inactive: var(--primitive-color-mist-gray-70);
	--semantic-color-surface-text-field-disabled: var(--primitive-color-blue-gray-90);
	--semantic-color-surface-toast: var(--primitive-color-blue-gray-10);
	--semantic-color-surface-white: var(--primitive-color-white);
	--semantic-color-surface-black: var(--primitive-color-blue-gray-10);
	--semantic-color-surface---: var(--primitive-color-blue-gray-80);
	--semantic-color-surface-default-error: var(--primitive-color-active-red-60);
	--semantic-color-surface-default-success: var(--primitive-color-green-45);
	--semantic-color-surface-default-warning: var(--primitive-color-yellow-70);
	--semantic-color-surface-main-disabled: var(--primitive-color-neutral-gray-95);
	--semantic-color-surface-badge-gradient-start: var(--primitive-color-deep-orange-45);
	--semantic-color-surface-badge-gradient-stop: var(--primitive-color-active-red-50);
	--semantic-color-surface-badge-gradient-end: var(--primitive-color-heritage-red-35);
	--semantic-color-surface-badge-red: var(--primitive-color-active-red-50);
	--semantic-color-surface-badge-lightred: var(--primitive-color-active-red-95);
	--semantic-color-surface-badge-orange: var(--primitive-color-orange-50);
	--semantic-color-surface-badge-lightorange: var(--primitive-color-orange-95);
	--semantic-color-surface-badge-green: var(--primitive-color-green-50);
	--semantic-color-surface-badge-lightgreen: var(--primitive-color-green-95);
	--semantic-color-surface-badge-magenta: var(--primitive-color-heritage-red-45);
	--semantic-color-surface-badge-lightmagenta: var(--primitive-color-heritage-red-95);
	--semantic-color-surface-badge-gray: var(--primitive-color-cool-gray-35);
	--semantic-color-surface-badge-lightgray: var(--primitive-color-blue-gray-90);
	--semantic-color-surface-badge-black: var(--primitive-color-blue-gray-10);
	--semantic-color-surface-button-primary-disabled: var(--primitive-color-blue-green-40);
	--semantic-color-surface-button_social: var(--primitive-color-blue-gray-95);
	--semantic-color-surface-card-brown: var(--primitive-color-red-brown-95);
	--semantic-color-surface-card-gray: var(--primitive-color-neutral-gray-99);
	--semantic-color-surface-chip-white: var(--primitive-color-warm-gray-99);
	--semantic-color-surface-chip-pink: var(--primitive-color-heritage-red-95);
	--semantic-color-surface-dialogpopup: var(--primitive-color-mist-gray-95);
	--semantic-color-surface-footer: var(--primitive-color-mist-gray-95);
	--semantic-color-surface-footer-black: var(--primitive-color-cool-gray-25);
	--semantic-color-surface-header: var(--primitive-color-mist-gray-95);
	--semantic-color-surface-selection-disabled: var(--primitive-color-mist-gray-70);
	--semantic-color-surface-selection-active-disabled: var(--primitive-color-mist-gray-70);
	--semantic-color-surface-selection_switch-inactive: var(--primitive-color-mist-gray-70);
	--semantic-color-surface-selection_option-disabled: var(--primitive-color-mist-gray-95);
	--semantic-color-surface-tab: var(--primitive-color-blue-gray-95);
	--semantic-color-surface-tab-active: var(--primitive-color-blue-gray-95);

	/* On Surface */
	--semantic-color-on-surface-default-error: var(--primitive-color-active-red-60);
	--semantic-color-on-surface-default-success: var(--primitive-color-green-55);
	--semantic-color-on-surface-main: var(--primitive-color-mist-gray-10);
	--semantic-color-on-surface-main-selected: var(--primitive-color-white);
	--semantic-color-on-surface-sub: var(--primitive-color-mist-gray-50);
	--semantic-color-on-surface-accent: var(--primitive-color-blue-green-50);
	--semantic-color-on-surface-button: var(--primitive-color-mist-gray-30);
	--semantic-color-on-surface-white: var(--primitive-color-white);
	--semantic-color-on-surface-black: var(--primitive-color-mist-gray-10);
	--semantic-color-on-surface-default-disabled: var(--primitive-color-cool-gray-70);
	--semantic-color-on-surface-default-supporting: var(--primitive-color-cool-gray-55);
	--semantic-color-on-surface-main-error: var(--primitive-color-active-red-60);
	--semantic-color-on-surface-main-success: var(--primitive-color-green-55);
	--semantic-color-on-surface-sub-error: var(--primitive-color-active-red-45);
	--semantic-color-on-surface-sub-success: var(--primitive-color-green-55);
	--semantic-color-on-surface-highlight: var(--primitive-color-blue-green-40);
	--semantic-color-on-surface-badge-red: var(--primitive-color-active-red-50);
	--semantic-color-on-surface-badge-orange: var(--primitive-color-orange-50);
	--semantic-color-on-surface-badge-green: var(--primitive-color-green-50);
	--semantic-color-on-surface-badge-magenta: var(--primitive-color-heritage-red-45);
	--semantic-color-on-surface-badge-gray: var(--primitive-color-blue-gray-20);
	--semantic-color-on-surface-button-primary: var(--primitive-color-white);
	--semantic-color-on-surface-button-primary-hover: var(--primitive-color-white);
	--semantic-color-on-surface-button-primary-disabled: var(--primitive-color-white);
	--semantic-color-on-surface-button-secondary: var(--primitive-color-mist-gray-30);
	--semantic-color-on-surface-button-secondary-hover: var(--primitive-color-mist-gray-30);
	--semantic-color-on-surface-button-tertiary: var(--primitive-color-mist-gray-30);
	--semantic-color-on-surface-card-brown: var(--primitive-color-red-brown-40);
	--semantic-color-on-surface-card-gray: var(--primitive-color-warm-gray-65);
	--semantic-color-on-surface-card-yellow: var(--primitive-color-yellow-70);
	--semantic-color-on-surface-footer: var(--primitive-color-blue-gray-80);
	--semantic-color-on-surface-index: var(--primitive-color-blue-gray-80);
	--semantic-color-on-surface-pageindicator-dot: var(--primitive-color-cool-gray-70);
	--semantic-color-on-surface-textfield-inactive: var(--primitive-color-mist-gray-45);

	/* Stroke */
	--semantic-color-stroke-default-error: var(--primitive-color-active-red-60);
	--semantic-color-stroke-default-success: var(--primitive-color-green-60);
	--semantic-color-stroke-main: var(--primitive-color-blue-gray-80);
	--semantic-color-stroke-main-focused: var(--primitive-color-navy-40);
	--semantic-color-stroke-sub: var(--primitive-color-blue-gray-80);
	--semantic-color-stroke-accent: var(--primitive-color-blue-green-50);
	--semantic-color-stroke-button: var(--primitive-color-blue-gray-80);
	--semantic-color-stroke-selection-active: var(--primitive-color-navy-40);
	--semantic-color-stroke-selection-inactive: var(--primitive-color-mist-gray-70);
	--semantic-color-stroke-tab: var(--primitive-color-mist-gray-10);
	--semantic-color-stroke-badge-red: var(--primitive-color-active-red-80);
	--semantic-color-stroke-badge-orange: var(--primitive-color-orange-80);
	--semantic-color-stroke-badge-green: var(--primitive-color-mint-green-80);
	--semantic-color-stroke-badge-magenta: var(--primitive-color-heritage-red-80);
	--semantic-color-stroke-badge-gray: var(--primitive-color-cool-gray-80);
	--semantic-color-stroke-button-primary: var(--primitive-color-blue-gray-80);
	--semantic-color-stroke-button-secondary: var(--primitive-color-blue-gray-80);
	--semantic-color-stroke-button-tertiary: var(--primitive-color-blue-gray-80);
	--semantic-color-stroke-card-selected: var(--primitive-color-mist-gray-70);
	--semantic-color-stroke-card-gray: var(--primitive-color-neutral-gray-95);
	--semantic-color-stroke-chip: var(--primitive-color-neutral-gray-90);
	--semantic-color-stroke-chip-selected: var(--primitive-color-black);
	--semantic-color-stroke-chip-black: var(--primitive-color-black);
	--semantic-color-stroke-chip-pink: var(--primitive-color-heritage-red-35);
	--semantic-color-stroke-chip-white: var(--primitive-color-white);
	--semantic-color-stroke-pageindicator: var(--primitive-color-blue-gray-80);
	--semantic-color-stroke-selection_option-active: var(--primitive-color-mist-gray-70);
	--semantic-color-stroke-textfield: var(--primitive-color-blue-gray-70);
	--semantic-color-stroke-textfield-focused: var(--primitive-color-blue-gray-35);
	--semantic-color-stroke-textfield-disabled: var(--primitive-color-blue-gray-70);
	--semantic-color-stroke-white: var(--primitive-color-white);
	--semantic-color-stroke-black: var(--primitive-color-blue-gray-10);

	/* Scrim */
	--semantic-color-scrim-default: var(--primitive-color-white);
}
