/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

@import "@enovaui/core-tokens/css/color-primitive.css";

/* ----------------------------------------
Semantic Color Tokens
------------------------------------------- */

:root {

	/* Background */
	--semantic-color-background-main: var(--primitive-color-warm-gray-85);
	--semantic-color-background-sub: var(--primitive-color-neutral-gray-95);
	--semantic-color-background-white: var(--primitive-color-white);
	--semantic-color-background-black: var(--primitive-color-black);
	--semantic-color-background-dark-gray: var(--primitive-color-warm-gray-15);
	--semantic-color-background-main-dark: var(--primitive-color-warm-gray-80);

	/* On Background */
	--semantic-color-on-background-main: var(--primitive-color-black);
	--semantic-color-on-background-main-supporting: var(--primitive-color-warm-gray-15);
	--semantic-color-on-background-sub: var(--primitive-color-warm-gray-35);
	--semantic-color-on-background-accent: var(--primitive-color-active-red-50);
	--semantic-color-on-background-highlight: var(--primitive-color-heritage-red-35);
	--semantic-color-on-background-white: var(--primitive-color-white);

	/* Surface */
	--semantic-color-surface-default-error: var(--primitive-color-neutral-gray-15);
	--semantic-color-surface-default-handle: var(--primitive-color-warm-gray-35);
	--semantic-color-surface-default-indicator: var(--primitive-color-active-red-50);
	--semantic-color-surface-default-notification: var(--primitive-color-active-red-50);
	--semantic-color-surface-default-placeholder: var(--primitive-color-warm-gray-60);
	--semantic-color-surface-default-success: var(--primitive-color-teal-green-40);
	--semantic-color-surface-default-track: var(--primitive-color-warm-gray-70);
	--semantic-color-surface-default-warning: var(--primitive-color-yellow-70);
	--semantic-color-surface-main: var(--primitive-color-white);
	--semantic-color-surface-main-hover: var(--primitive-color-warm-gray-85);
	--semantic-color-surface-main-pressed: var(--primitive-color-warm-gray-75);
	--semantic-color-surface-main-disabled: var(--primitive-color-neutral-gray-90);
	--semantic-color-surface-sub: var(--primitive-color-warm-gray-80);
	--semantic-color-surface-accent: var(--primitive-color-active-red-50);
	--semantic-color-surface-badge-gradient-start: var(--primitive-color-deep-orange-45);
	--semantic-color-surface-badge-gradient-stop: var(--primitive-color-active-red-50);
	--semantic-color-surface-badge-gradient-end: var(--primitive-color-heritage-red-35);
	--semantic-color-surface-badge-red: var(--primitive-color-active-red-50);
	--semantic-color-surface-badge-light-red: var(--primitive-color-active-red-95);
	--semantic-color-surface-badge-orange: var(--primitive-color-orange-50);
	--semantic-color-surface-badge-light-orange: var(--primitive-color-orange-95);
	--semantic-color-surface-badge-green: var(--primitive-color-green-50);
	--semantic-color-surface-badge-light-green: var(--primitive-color-green-95);
	--semantic-color-surface-badge-magenta: var(--primitive-color-heritage-red-45);
	--semantic-color-surface-badge-light-magenta: var(--primitive-color-heritage-red-95);
	--semantic-color-surface-badge-light-gray: var(--primitive-color-cool-gray-90);
	--semantic-color-surface-badge-black: var(--primitive-color-warm-gray-10);
	--semantic-color-surface-button-primary: var(--primitive-color-active-red-50);
	--semantic-color-surface-button-primary-hover: var(--primitive-color-white);
	--semantic-color-surface-button-primary-pressed: var(--primitive-color-warm-gray-75);
	--semantic-color-surface-button-primary-disabled: var(--primitive-color-white);
	--semantic-color-surface-button-secondary: var(--primitive-color-white);
	--semantic-color-surface-button-secondary-hover: var(--primitive-color-active-red-50);
	--semantic-color-surface-button-secondary-pressed: var(--primitive-color-active-red-40);
	--semantic-color-surface-button-tertiary: var(--primitive-color-white);
	--semantic-color-surface-button-tertiary-hover: var(--primitive-color-white);
	--semantic-color-surface-button-tertiary-pressed: var(--primitive-color-warm-gray-75);
	--semantic-color-surface-button-icon: var(--primitive-color-warm-gray-75);
	--semantic-color-surface-button-icon-pressed: var(--primitive-color-warm-gray-60);
	--semantic-color-surface-button-light: var(--primitive-color-neutral-gray-95);
	--semantic-color-surface-button-dark: var(--primitive-color-warm-gray-15);
	--semantic-color-surface-card-gray: var(--primitive-color-neutral-gray-99);
	--semantic-color-surface-chip: var(--primitive-color-warm-gray-99);
	--semantic-color-surface-chip-selected: var(--primitive-color-active-red-50);
	--semantic-color-surface-chip-pink: var(--primitive-color-active-red-99);
	--semantic-color-surface-dialog-popup: var(--primitive-color-warm-gray-85);
	--semantic-color-surface-notification-card: var(--primitive-color-warm-gray-15);
	--semantic-color-surface-selection-active: var(--primitive-color-active-red-50);
	--semantic-color-surface-selection-inactive: var(--primitive-color-warm-gray-35);
	--semantic-color-surface-selection-disabled: var(--primitive-color-warm-gray-70);
	--semantic-color-surface-selection-active-disabled: var(--primitive-color-warm-gray-55);
	--semantic-color-surface-selection-switch-inactive: var(--primitive-color-warm-gray-35);
	--semantic-color-surface-selection-option-disabled: var(--primitive-color-warm-gray-85);
	--semantic-color-surface-tab: var(--primitive-color-cool-gray-95);
	--semantic-color-surface-tab-active: var(--primitive-color-warm-gray-95);
	--semantic-color-surface-text-field-disabled: var(--primitive-color-warm-gray-75);
	--semantic-color-surface-toast: var(--primitive-color-warm-gray-10);
	--semantic-color-surface-white: var(--primitive-color-white);
	--semantic-color-surface-black: var(--primitive-color-warm-gray-10);
	--semantic-color-surface-badge-dark-gray: var(--primitive-color-cool-gray-35);
	--semantic-color-surface-footer: var(--primitive-color-warm-gray-15);
	--semantic-color-surface-header-dark: var(--primitive-color-warm-gray-85);
	--semantic-color-surface-header-light: var(--primitive-color-warm-gray-90);
	--semantic-color-surface-sub-disabled: var(--primitive-color-neutral-gray-95);
	--semantic-color-surface-card-orange: var(--primitive-color-orange-95);
	--semantic-color-surface-selection-inactive-disabled: var(--primitive-color-warm-gray-55);
	--semantic-color-surface-banner: var(--primitive-color-neutral-gray-5);
	--semantic-color-surface-card: var(--primitive-color-warm-gray-85);
	--semantic-color-surface-filter: var(--primitive-color-warm-gray-85);
	--semantic-color-surface-selection-option: var(--primitive-color-neutral-gray-95);
	--semantic-color-surface-tab-segmented: var(--primitive-color-warm-gray-85);
	--semantic-color-surface-sub-supporting: var(--primitive-color-neutral-gray-95);

	/* On Surface */
	--semantic-color-on-surface-default-disabled: var(--primitive-color-warm-gray-55);
	--semantic-color-on-surface-main: var(--primitive-color-black);
	--semantic-color-on-surface-main-error: var(--primitive-color-active-red-50);
	--semantic-color-on-surface-main-success: var(--primitive-color-yellow-green-40);
	--semantic-color-on-surface-main-selected: var(--primitive-color-white);
	--semantic-color-on-surface-sub: var(--primitive-color-warm-gray-35);
	--semantic-color-on-surface-sub-error: var(--primitive-color-heritage-red-35);
	--semantic-color-on-surface-sub-success: var(--primitive-color-yellow-green-35);
	--semantic-color-on-surface-accent: var(--primitive-color-active-red-50);
	--semantic-color-on-surface-highlight: var(--primitive-color-heritage-red-35);
	--semantic-color-on-surface-badge-red: var(--primitive-color-active-red-50);
	--semantic-color-on-surface-badge-orange: var(--primitive-color-orange-50);
	--semantic-color-on-surface-badge-green: var(--primitive-color-green-50);
	--semantic-color-on-surface-badge-magenta: var(--primitive-color-heritage-red-45);
	--semantic-color-on-surface-button-primary: var(--primitive-color-white);
	--semantic-color-on-surface-button-primary-hover: var(--primitive-color-black);
	--semantic-color-on-surface-button-primary-disabled: var(--primitive-color-black);
	--semantic-color-on-surface-button-secondary: var(--primitive-color-black);
	--semantic-color-on-surface-button-secondary-hover: var(--primitive-color-white);
	--semantic-color-on-surface-button-tertiary: var(--primitive-color-black);
	--semantic-color-on-surface-card-gray: var(--primitive-color-warm-gray-65);
	--semantic-color-on-surface-card-yellow: var(--primitive-color-yellow-70);
	--semantic-color-on-surface-footer: var(--primitive-color-neutral-gray-25);
	--semantic-color-on-surface-index: var(--primitive-color-warm-gray-70);
	--semantic-color-on-surface-page-indicator-dot: var(--primitive-color-warm-gray-70);
	--semantic-color-on-surface-text-field-inactive: var(--primitive-color-warm-gray-35);
	--semantic-color-on-surface-white: var(--primitive-color-white);
	--semantic-color-on-surface-black: var(--primitive-color-black);
	--semantic-color-on-surface-main-supporting: var(--primitive-color-warm-gray-15);
	--semantic-color-on-surface-badge-dark-gray: var(--primitive-color-cool-gray-20);
	--semantic-color-on-surface-header: var(--primitive-color-warm-gray-35);
	--semantic-color-on-surface-button-label-disabled: var(--primitive-color-warm-gray-35);
	--semantic-color-on-surface-card-orange: var(--primitive-color-orange-40);
	--semantic-color-on-surface-menu: var(--primitive-color-warm-gray-70);
	--semantic-color-on-surface-page-indicator: var(--primitive-color-warm-gray-35);
	--semantic-color-on-surface-selection-active-disabled: var(--primitive-color-warm-gray-55);
	--semantic-color-on-surface-text-field-assistive: var(--primitive-color-warm-gray-45);
	--semantic-color-on-surface-card-dark: var(--primitive-color-neutral-gray-25);
	--semantic-color-on-surface-card-light: var(--primitive-color-warm-gray-70);
	--semantic-color-on-surface-sub-supporting: var(--primitive-color-neutral-gray-25);

	/* Stroke */
	--semantic-color-stroke-default-error: var(--primitive-color-active-red-50);
	--semantic-color-stroke-default-success: var(--primitive-color-green-60);
	--semantic-color-stroke-main: var(--primitive-color-warm-gray-70);
	--semantic-color-stroke-main-focused: var(--primitive-color-warm-gray-30);
	--semantic-color-stroke-sub: var(--primitive-color-warm-gray-60);
	--semantic-color-stroke-badge-green: var(--primitive-color-green-50);
	--semantic-color-stroke-badge-gray: var(--primitive-color-cool-gray-35);
	--semantic-color-stroke-badge-orange: var(--primitive-color-orange-50);
	--semantic-color-stroke-badge-magenta: var(--primitive-color-heritage-red-45);
	--semantic-color-stroke-accent: var(--primitive-color-active-red-50);
	--semantic-color-stroke-badge-red: var(--primitive-color-active-red-50);
	--semantic-color-stroke-button: var(--primitive-color-warm-gray-50);
	--semantic-color-stroke-button-tertiary: var(--primitive-color-warm-gray-30);
	--semantic-color-stroke-button-icon: var(--primitive-color-warm-gray-35);
	--semantic-color-stroke-card-selected: var(--primitive-color-black);
	--semantic-color-stroke-card-gray: var(--primitive-color-neutral-gray-95);
	--semantic-color-stroke-chip: var(--primitive-color-neutral-gray-90);
	--semantic-color-stroke-chip-pink: var(--primitive-color-heritage-red-35);
	--semantic-color-stroke-chip-white: var(--primitive-color-white);
	--semantic-color-stroke-selection-active: var(--primitive-color-active-red-50);
	--semantic-color-stroke-selection-inactive: var(--primitive-color-black);
	--semantic-color-stroke-tab: var(--primitive-color-mist-gray-10);
	--semantic-color-stroke-text-field: var(--primitive-color-mist-gray-55);
	--semantic-color-stroke-text-field-focused: var(--primitive-color-warm-gray-10);
	--semantic-color-stroke-text-field-disabled: var(--primitive-color-warm-gray-70);
	--semantic-color-stroke-white: var(--primitive-color-white);
	--semantic-color-stroke-black: var(--primitive-color-black);
	--semantic-color-stroke-default-selected: var(--primitive-color-black);
	--semantic-color-stroke-tab-segmented: var(--primitive-color-mist-gray-55);
	--semantic-color-stroke-main-supporting: var(--primitive-color-warm-gray-80);
	--semantic-color-stroke-sub-supporting: var(--primitive-color-mist-gray-55);

	/* Scrim */
	--semantic-color-scrim-default: var(--primitive-color-black);
	--semantic-color-scrim-white: var(--primitive-color-white);
	--semantic-color-scrim-black: var(--primitive-color-warm-gray-10);
}
