/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

@import "@enovaui/core-tokens/css/color-primitive.css";

/* ----------------------------------------
Semantic Color Tokens
------------------------------------------- */

:root {

	/* Background */
	--semantic-color-background-default: var(--primitive-color-black);
	--semantic-color-background-white: var(--primitive-color-white);
	--semantic-color-background-black: var(--primitive-color-black);

	/* Surface */
	--semantic-color-surface---: var(--primitive-color-mist-gray-60);
	--semantic-color-surface-default-error: var(--primitive-color-active-red-60);
	--semantic-color-surface-default-success: var(--primitive-color-green-70);
	--semantic-color-surface-default-warning: var(--primitive-color-yellow-80);
	--semantic-color-surface-main-disabled: var(--primitive-color-mist-gray-30);
	--semantic-color-surface-badge-red: var(--primitive-color-active-red-50);
	--semantic-color-surface-badge-lightred: var(--primitive-color-active-red-95);
	--semantic-color-surface-badge-orange: var(--primitive-color-orange-50);
	--semantic-color-surface-badge-lightorange: var(--primitive-color-orange-95);
	--semantic-color-surface-badge-green: var(--primitive-color-green-50);
	--semantic-color-surface-badge-lightgreen: var(--primitive-color-green-95);
	--semantic-color-surface-badge-magenta: var(--primitive-color-heritage-red-45);
	--semantic-color-surface-badge-lightmagenta: var(--primitive-color-heritage-red-95);
	--semantic-color-surface-badge-gray: var(--primitive-color-cool-gray-35);
	--semantic-color-surface-badge-lightgray: var(--primitive-color-cool-gray-90);
	--semantic-color-surface-badge-black: var(--primitive-color-mist-gray-60);
	--semantic-color-surface-button-primary-disabled: var(--primitive-color-mist-gray-50);
	--semantic-color-surface-button_social: var(--primitive-color-mist-gray-45);
	--semantic-color-surface-chip-white: var(--primitive-color-warm-gray-99);
	--semantic-color-surface-chip-pink: var(--primitive-color-heritage-red-95);
	--semantic-color-surface-dialogpopup: var(--primitive-color-black);
	--semantic-color-surface-selection-disabled: var(--primitive-color-mist-gray-50);
	--semantic-color-surface-selection-active-disabled: var(--primitive-color-mist-gray-50);
	--semantic-color-surface-selection_switch-inactive: var(--primitive-color-mist-gray-50);
	--semantic-color-surface-selection_option-disabled: var(--primitive-color-black);
	--semantic-color-surface-tab: var(--primitive-color-mist-gray-45);
	--semantic-color-surface-tab-active: var(--primitive-color-mist-gray-60);

	/* On Surface */
	--semantic-color-on-surface-default-disabled: var(--primitive-color-mist-gray-30);
	--semantic-color-on-surface-default-supporting: var(--primitive-color-mist-gray-80);
	--semantic-color-on-surface-highlight: var(--primitive-color-mist-gray-95);
	--semantic-color-on-surface-badge-red: var(--primitive-color-active-red-50);
	--semantic-color-on-surface-badge-orange: var(--primitive-color-orange-50);
	--semantic-color-on-surface-badge-green: var(--primitive-color-green-50);
	--semantic-color-on-surface-badge-magenta: var(--primitive-color-heritage-red-45);
	--semantic-color-on-surface-badge-gray: var(--primitive-color-mist-gray-20);
	--semantic-color-on-surface-button-primary: var(--primitive-color-white);
	--semantic-color-on-surface-button-primary-hover: var(--primitive-color-mist-gray-30);
	--semantic-color-on-surface-button-primary-disabled: var(--primitive-color-mist-gray-30);
	--semantic-color-on-surface-button-secondary: var(--primitive-color-white);
	--semantic-color-on-surface-button-secondary-hover: var(--primitive-color-white);
	--semantic-color-on-surface-button-tertiary: var(--primitive-color-white);
	--semantic-color-on-surface-index: var(--primitive-color-mist-gray-50);
	--semantic-color-on-surface-pageindicator-dot: var(--primitive-color-mist-gray-30);
	--semantic-color-on-surface-textfield-inactive: var(--primitive-color-white);

	/* Stroke */
	--semantic-color-stroke-badge-red: var(--primitive-color-active-red-80);
	--semantic-color-stroke-badge-orange: var(--primitive-color-orange-80);
	--semantic-color-stroke-badge-green: var(--primitive-color-mint-green-80);
	--semantic-color-stroke-badge-magenta: var(--primitive-color-heritage-red-80);
	--semantic-color-stroke-badge-gray: var(--primitive-color-cool-gray-80);
	--semantic-color-stroke-button-primary: var(--primitive-color-mist-gray-95);
	--semantic-color-stroke-button-secondary: var(--primitive-color-mist-gray-95);
	--semantic-color-stroke-button-tertiary: var(--primitive-color-mist-gray-95);
	--semantic-color-stroke-chip: var(--primitive-color-neutral-gray-90);
	--semantic-color-stroke-chip-selected: var(--primitive-color-black);
	--semantic-color-stroke-chip-black: var(--primitive-color-black);
	--semantic-color-stroke-chip-pink: var(--primitive-color-heritage-red-35);
	--semantic-color-stroke-chip-white: var(--primitive-color-white);
	--semantic-color-stroke-pageindicator: var(--primitive-color-mist-gray-50);
	--semantic-color-stroke-selection_option-active: var(--primitive-color-white);
	--semantic-color-stroke-textfield: var(--primitive-color-mist-gray-50);
	--semantic-color-stroke-textfield-focused: var(--primitive-color-mist-gray-35);
	--semantic-color-stroke-textfield-disabled: var(--primitive-color-mist-gray-70);
	--semantic-color-stroke-white: var(--primitive-color-white);
	--semantic-color-stroke-black: var(--primitive-color-mist-gray-10);
}
