/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

/* radius-primitive.css */

/* ----------------------------------------
Primitive Radius Tokens
------------------------------------------- */

:root {
	--primitive-radius-banner-xs: 8px;
	--primitive-radius-card-full: 999px;
	--primitive-radius-card-xl: 28px;
	--primitive-radius-tab-xl: 16px;
}
