/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

/* semantic-primitive.css */

/* ----------------------------------------
Primitive Semantic Tokens
------------------------------------------- */

:root {
}
